<p id="notice"><%= notice %></p>

<div class="container">
<h1>Gestion des Thèmes de groupe</h1>

<%= link_to 'Créer un thème', new_theme_path, type:"button", class:"btn btn-outline-success" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Thèmes</th>
      </tr>
    </thead>
    <tbody>
      <% @themes.each do |theme| %>
        <tr>
          <td scope="row"><%= theme.id %></td>
          <td scope="row"><%= theme.label %></td>
          <td><%= link_to 'Voir', theme , type:"button", class:"btn btn-outline-success" %></td>
          <td><%= link_to 'Modifier', edit_theme_path(theme) , type:"button", class:"btn btn-outline-info" %></td>
          <td><%= link_to 'Supprimer', theme, type:"button", class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
<br>
