<p id="notice"><%= notice %></p>

<div class="container">
<h1>Gestion des Types de groupe</h1>

<%= link_to 'Créer un type', new_type_path, type:"button", class:"btn btn-outline-success" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Types</th>
      </tr>
    </thead>
    <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.label %></td>
        <td><%= link_to 'Voir', type, type:"button", class:"btn btn-outline-success" %></td>
        <td><%= link_to 'Modifier', edit_type_path(type), type:"button", class:"btn btn-outline-info" %></td>
        <td><%= link_to 'Supprimer', type, type:"button", class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

