<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :target_description %>
    <%= form.text_area :target_description %>
  </div>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch %>
  </div>

  <div class="field">
    <%= form.label :pilote %>
    <%= form.text_field :pilote %>
  </div>

  <div class="field">
    <%= form.label :mission %>
    <%= form.check_box :mission %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :date_begin %>
    <%= form.date_select :date_begin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
