<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Gestion des Groupes</h1>

  <%= link_to 'Créer un groupe', new_group_path, type:"button", class:"btn btn-outline-success" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Objectif</th>
        <th scope="col">Branche</th>
        <th scope="col">Pilote</th>
        <th scope="col">Mission ?</th>
        <th scope="col">Fréquence</th>
        <th scope="col">Créé le</th>
        <th scope="col"> </th>
        <th scope="col">Actions</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.id %></td>
          <td><%= group.name %></td>
          <td><%= group.target_description %></td>
          <td><%= group.branch %></td>
          <td><%= group.pilote %></td>
          <td><% if group.mission %>
            <p class="card-text text-success">Lettre</p>
          <% else %>
            <p class="card-text text-warning">Pas de Lettre</p>
          <% end %></td>
          <td><%= group.frequency %></td>
          <td><%= group.date_begin %></td>
          <td><%= link_to 'Voir', group, type:"button", class:"btn btn-outline-success" %></td>
          <td><%= link_to 'Modifier', edit_group_path(group), type:"button", class:"btn btn-outline-info" %></td>
          <td><%= link_to 'Supprimer', group, type:"button", class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
